.pure-g {
    padding: 1em;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.banner {
    background-image: url("../img/elephant.png");
    background-repeat: repeat-x;
}

i.ion-bug {
  color: #00BFA0;
  font-size: 20px;
}

i.ion-bug:hover,
i.ion-bug:focus {
  color: #6562EF;
}

/*footer {
  height: 40px;
  background: url("../img/footer.png") no-repeat;
}

a.pull-right {
  margin-top: 12px;
}*/

#output {
  padding-top: 15px;
}