.pure-g {
    padding: 1em;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.banner {
    background-image: url("../img/elephant.png");
    background-repeat: repeat-x;
}